@import './reset.scss';
@import './common.scss';
@import './header.scss';

.container {
    width: 960px;
    margin: 30px auto;
}

.member_left {
    width: 80%;
    float: left;
    padding-right: 15px;
}

.member_info {
    display: flex;
    .avatar {
        flex: 0 0 80px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;
    }
    .member_statistic {
        flex: 1;
        padding: 0 15px;
    }
    .statistic_info {
        display: flex;
    }
    .statistic {
        width: 70px;
        padding: 0 5px;
        border-right: 1px solid #f0f0f0;
        span {
            text-align: left;
            display: block;
            &:last-child {
                color: #969696;
            }
        }
    }
    .handle_focus_on {
        flex: 0 0 140px;
        width: 100px;
        margin: 0 20px;
        height: 38px;
        border: 1px solid hsla(0,0%,59%,.6);
        color: #8c8c8c;
        background-color: transparent;
        font-size: 15px;
        border-radius: 40px;
        cursor: pointer;
        &:hover {
            background-color: #f7f7f7;
        }
    }
    .focus_on_icon {
        display: inline-block;
        width: 6px;
        height: 12px;
        margin-right: 5px;
        border: 2px solid #8c8c8c;
        border-left: none;
        border-top: none;
        transform: rotate(45deg);
    }
    .cancel_focus_on {
        position: relative;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 12px;
            height: 2px;
            background-color: #8c8c8c;
            top: 50%;
            left: 50%;
        }        
        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &.add_focus {
            &::before,
            &::after {
                background-color: #fff;
            }
            &::before {
                transform: translate(-50%, -50%);
            }
            &::after {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
    .no_focus {
        color: #fff;
        border-color: #42c02e;
        background-color: #42c02e;
        &:hover {
            border-color: #3DB922;
            background-color: #3DB922;
        }
    }
}

.member_right {
    width: 20%;
    float: right;
}

.statistic_list {
    padding-top: 10px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 5px;
    &:first-child {
        border-top: 1px solid #f0f0f0;
    }
}

.statistic_title {
    color: #969696;
}

.statistic_result {
    max-height: 300px;
    overflow: auto;
}

.statistic_li {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 3px 0;
    cursor: pointer;
}